<router-outlet></router-outlet>
<mat-toolbar color="primary">
  <span class="title-center">JMBG Aplikacija - Stefan Keler I7 9/2019</span>
</mat-toolbar>

<div class="center margin-top">
  <mat-form-field>
    <input matInput placeholder="Ime"  [(ngModel)]="ime" name="ime" required>
  </mat-form-field>
</div>
<div class="center">
  <mat-form-field>
    <input matInput placeholder="Prezime"  [(ngModel)]="prezime" name="prezime" required>
  </mat-form-field>
</div>
<div class="center">
  <mat-form-field>
    <input matInput placeholder="Maticni broj"  [(ngModel)]="mbr" name="mbr" required>
  </mat-form-field>
</div>
<div class="center margin">
  <button class="dugmic" mat-raised-button color="primary" (click)="check()" [disabled]="!ime || !prezime || !mbr">
    Ispisi podatke
  </button>
</div>
<div *ngIf="valid" class="center">
  Ime: {{ime}}
</div>
<div *ngIf="valid" class="center">
  Prezime: {{prezime}}
</div>
<div class="center">
  {{poruka}}
</div>
<div class="center">
  {{pokraina}}
</div>
<div class="center">
  {{region}}
</div>
<div class="center">
  {{pol}}
</div>






